/* line 1, ../sass/_main.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 6, ../sass/_main.scss */
nav {
  margin-top: 30px;
  padding: 0px 15% 0px 15%;
  background-color: #FF9400;
  height: 70px;
}

/* line 13, ../sass/_main.scss */
.title {
  font-size: 38pt;
  color: white;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
}

/* line 20, ../sass/_main.scss */
.title:hover {
  text-decoration: none;
  color: white;
}

/* line 25, ../sass/_main.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  color: white;
  margin: 0px;
  padding: 0px;
}

/* line 32, ../sass/_main.scss */
.flex-column {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

/* line 39, ../sass/_main.scss */
.flex-row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

/* line 46, ../sass/_main.scss */
.flex-wrap {
  -webkit-flex-wrap: wrap;
}

/* line 50, ../sass/_main.scss */
.space-between {
  justify-content: space-between;
}

/* line 54, ../sass/_main.scss */
.space-around {
  justify-content: space-around;
}

/* line 58, ../sass/_main.scss */
.full-width {
  width: 100%;
}

/* line 62, ../sass/_main.scss */
.center-aligned {
  align-items: center;
  -webkit-align-items: center;
}

/* line 67, ../sass/_main.scss */
.btn {
  border: none;
  background-color: #424242;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 15pt;
  padding: 10px;
  border-radius: 0px;
  margin: 0px;
}

/* line 78, ../sass/_main.scss */
.btn-primary {
  border: none;
  background-color: #424242;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 15pt;
  padding: 10px;
  border-radius: 0px;
  margin: 0px;
}

/* line 89, ../sass/_main.scss */
.btn:hover {
  color: #0097FF;
}

/* line 98, ../sass/_main.scss */
#signin-button {
  background-color: #0097FF;
}

/* line 102, ../sass/_main.scss */
#signin-button:hover {
  color: #424242;
}

/* line 109, ../sass/_main.scss */
#signout-button {
  background-color: red;
}

/* line 113, ../sass/_main.scss */
#signout-button:hover {
  color: #424242;
}

/* line 117, ../sass/_main.scss */
.banner-photo {
  width: 100%;
  height: 450px;
  overflow: hidden;
  color: white;
  font-size: 23pt;
}

/* line 125, ../sass/_main.scss */
.banner-photo img {
  width: 100%;
  margin-top: -85px;
  -webkit-filter: brightness(0.5);
  position: relative;
}

/* line 132, ../sass/_main.scss */
.brightness-fifty {
  -webkit-filter: brightness(0.5);
}

/* line 136, ../sass/_main.scss */
.banner-content {
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 2px 2px 6px #000;
}

/* line 142, ../sass/_main.scss */
#index-greeting {
  top: 150px;
  left: 15%;
  width: 30%;
}

/* line 148, ../sass/_main.scss */
#discussion-greeting {
  top: 150px;
  left: 40%;
  width: 50%;
  text-align: center;
}

/* line 155, ../sass/_main.scss */
#index-hello {
  font-size: 36pt;
  margin-bottom: 15px;
}

/* line 160, ../sass/_main.scss */
#search-new-container {
  position: relative;
  top: -50px;
  width: 70%;
  margin: auto;
}

/* line 167, ../sass/_main.scss */
#search-container {
  width: 85%;
  height: 100px;
  background-color: #424242;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

/* line 176, ../sass/_main.scss */
.search-input {
  width: 80%;
  height: 50px;
  font-size: 16pt;
  font-weight: 200;
  font-style: italic;
  padding-left: 15px;
}

/* line 185, ../sass/_main.scss */
#search-button {
  background-color: #FF9400;
  height: 50px;
  width: 18%;
}

/* line 191, ../sass/_main.scss */
#search-button:hover {
  color: #424242;
}

/* line 195, ../sass/_main.scss */
#new-discussion-container {
  width: 15%;
}

/* line 199, ../sass/_main.scss */
#new-discussion-button {
  height: 100px;
  width: 100%;
  background-color: #0097FF;
  font-size: 16pt;
  white-space: pre-line;
  text-align: center;
  line-height: 120%;
}

/* line 209, ../sass/_main.scss */
#new-discussion-button:hover {
  background-color: #FF9400;
  color: #424242;
}

/* line 214, ../sass/_main.scss */
#discussions-container {
  padding: 0px 15% 0px 15%;
}

/* line 218, ../sass/_main.scss */
.discussion-thumb {
  height: 190px;
  width: 280px;
  position: relative;
  margin: 10px;
}

/* line 225, ../sass/_main.scss */
.discussion-thumb img {
  -webkit-filter: brightness(0.5);
  width: 100%;
  overflow: hidden;
}

/* line 231, ../sass/_main.scss */
.discussion-thumb h2 {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
  top: 38%;
  font-size: 30pt;
  text-shadow: 2px 2px 6px #000;
}

/* line 242, ../sass/_main.scss */
.discussion-thumb h2:hover {
  font-size: 35pt;
  top: 36%;
  color: #FF9400;
}

/* line 248, ../sass/_main.scss */
#login-greeting h1 {
  text-align: center;
  color: white;
  font-size: 36pt;
  margin-top: 20px;
}

/* line 255, ../sass/_main.scss */
#signin-form-container {
  background-color: #424242;
  margin: 25px auto 15px auto;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 35%;
}

/* line 263, ../sass/_main.scss */
.form-column {
  width: 100%;
  margin: auto;
  padding: 15px;
}

/* line 269, ../sass/_main.scss */
.form-column form {
  width: 85%;
  margin: auto;
}

/* line 274, ../sass/_main.scss */
.form-row {
  margin: 10px;
  align-items: flex-start;
}

/* line 279, ../sass/_main.scss */
.form-row h4 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #F7F7F7;
  margin-bottom: 4px;
}

/* line 286, ../sass/_main.scss */
.custom-form {
  width: 100%;
}

/* line 290, ../sass/_main.scss */
#signup-form-button {
  margin: auto;
  text-align: center;
}

/* line 295, ../sass/_main.scss */
#signup-form-button input {
  border: none;
  background-image: none;
  background-repeat: none;
  text-shadow: none;
  box-shadow: none;
  background-color: #0097FF;
}

/* line 304, ../sass/_main.scss */
#signup-form-button input:hover {
  color: #424242;
}

/* line 308, ../sass/_main.scss */
#discussion-nav-container {
  position: relative;
  top: -50px;
  width: 80%;
  margin: auto;
  background-color: #424242;
  height: 100px;
}

/* line 317, ../sass/_main.scss */
.discussion-btn {
  background-color: #FF9400;
  width: 25%;
}

/* line 322, ../sass/_main.scss */
.discussion-btn:hover {
  background-color: #0097FF;
  color: white;
}

/* line 327, ../sass/_main.scss */
.discussion-active-btn {
  background-color: #0097FF;
  color: white;
}

/* line 332, ../sass/_main.scss */
.discussion-active-btn:hover {
  background-color: #0097FF;
  color: white;
}
